input,
select {
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  margin-top: 20px;
  border-radius: 15px;
  color: rgb(132, 0, 255);
  background-color: aquamarine;
}
::placeholder {
  color: red;
}
.checkbox {
  height: 20px;
  width: 20px;
}
.submit {
  background-color: #1c0c5b;
  color: #f0a500;
  font-size: 25px;
  padding: 5px;
}
table {
  border: 3px solid #da1212;
  font-size: 20px;
  margin-left: 150px;
  margin-top: 30px;
}
td,
th {
  border: 1px solid #f1d00a;
  background-color: #21325e;
  color: #e9e5d6;
}
td {
  width: 150px;
  text-align: left;
  padding: 10px;
  padding-left: 25px;
}
th {
  color: #95cd41;
  font-size: 30px;
  padding: 5px;
}
